#wizards{
    --arc_color: rgb(131, 72, 133);
}

#fairies{
    --arc_color: rgb(188, 143, 143);
}

#humans{
    --arc_color : rgb(142,52,49);
}

#default{
    --arc_color: rgb(240, 221, 199);
}

#mermaid{
    --arc_color: rgb(127, 255, 212);
}

.content_common{
    margin: auto;
    width: 95%;
    --border_arc : solid 10px var(--arc_color);
}

.title_common_S{
    padding: 1% 20px;
    margin: 0;
    font-size: 0.85em;
    border-bottom: solid;
}

.title_common_L{
    background-color:var(--arc_color);
    width: auto;
    padding: 1% 20px;
    margin: 0;
    font-size: 0.85em;
    color:black;
}

.img_common{
    --border_arc : solid 10px var(--arc_color);
    border-top: var(--border_arc) ;
    border-bottom: var(--border_arc);
    object-fit: cover;
    background-color: black;
    width: 100%;
    margin-bottom: 1em;
}

.padding_common{
    font-size: 0.9em !important;
    padding: 0 20px;
    margin: 0;
}