#wizards{
    --arc_color: rgb(131, 72, 133);
}

#fairies{
    --arc_color: rgb(188, 143, 143);
}

#humans{
    --arc_color : rgb(142,52,49);
}

#default{
    --arc_color: rgb(240, 221, 199);
}

#mermaids{
    --arc_color: rgb(127, 255, 212);
}

#dark_minders{
    --arc_color: rgb(178, 211, 194);
}

#lycans{
    --arc_color: rgb(203, 104, 67);
}

.content_common{
    margin: auto;
    width: 95%;
    --border_arc : solid 10px var(--arc_color);
}

.title_common_S{
    padding: 1% 20px;
    margin: 0;
    font-size: 0.85em;
    border-bottom: solid var(--arc_color);
}

.title_common_L{
    background-color:var(--arc_color);
    width: auto;
    padding: 1% 20px;
    margin: 0;
    font-size: 0.85em;
    color:black;
}

.big_title{
    text-align:right;
    font-size: 28px;
    margin-right:2em;
}

h2{
    text-transform:uppercase;
    color: var(--colortext);
}

.img_common{
    --border_arc : solid 10px var(--arc_color);
    border-top: var(--border_arc) ;
    border-bottom: var(--border_arc);
    object-fit: cover;
    background-color: black;
    width: 100%;
    margin-bottom: 1em;
}

.padding_common{
    font-size: 0.9em !important;
    padding: 0 20px;
    margin: 0;
}

