
html, body{
    background-color: darkslategray;
    height: 100%;
}

.fiches_content_prez{
    width: 300px;
    height: 500%;
    background-color: beige;
    margin: auto;
    box-shadow: 1px 1px 10px black;
    overflow: hidden;
}

.header_prez{
    height: 20%;
    width: 100%;
    overflow: hidden;
    border-bottom: solid;
}

.pp_prez{
    width: 300px;
    position: absolute;
    margin: 1em auto;
}

.pp_prez div{
    border-radius: 50%;
    border: solid;
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    overflow: hidden;

}

article{
    overflow: overlay;
    height: 100%;
    padding: 0.5em 1em;
    text-align: justify;

}

article h2{
    text-align: center;
    margin-top: 2em;
}

img{
    max-width : 100%;
    height : auto;
}


article::-webkit-scrollbar{width:0px;}
article::-webkit-scrollbar-track{background:rgba(255,255,255,0);}
article::-webkit-scrollbar-thumb{background:rgba(255,255,255,0);}