
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
 /*-- general customisation --*/
 
.members_a {
    text-decoration:none;
    font-size: 12px;
    color:var(--accc1);
}   

/*-- header --*/
 
.members_header {
    margin:0 auto;
    width:95%;
    text-align:center;
}

.letters_links{
    margin: auto;
    margin-top:1.5em;
    text-align: center;
    font-family: Arial;
    line-height: 16px;
}

.letters_links a{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 10px;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}

/*-- content --*/
 
#members_content {
    margin:0 auto;
    width:calc((300px + 40px + 2px) * 2);
    /* ((box width + 2*margin + 2*border width) * number of columns) */
}
 
.members_box {
    margin: 40px 40px 0px 40px;
    float:left;
    font-size:0.8em;
    color: #C79944;
    position:relative;
    font-family: 'Open Sans', sans-serif;
}
 
.members_group {
    line-height:30px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: top left;
    top: 0px;
    left: 165px;
    text-transform: uppercase;
    font-size:1.2em;
    color:var(--accc1);
    width:135px;
}

.members_info{
    margin-top:0.5em;
    width:135px;
    text-align:center;
    height:75px;
    overflow:overlay;
}

.members_info::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--background);
}

.members_info::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #5c3957;
        border: 0.2em solid rgba(0, 0, 0, 0);  /* Transparent border together with `background-clip: padding-box` does the trick */
   	background-clip: padding-box;

}
 
.members_name {
    text-transform:uppercase;
    font-family: 'Megrim', cursive;
    font-size: 15px;
    font-weight: bold;
}
 
.members_box img {
    width:135px; /* image width */
    height:135px; /* image height */
    object-fit: cover;
    border: solid 2px #C79944;
}
 
 
/*-- credit - DO NOT TOUCH --*/
 
.members_credit a {
    text-align:right;
    font-size: 12px;
}
 