#wizards{
    --arc_color: rgb(131, 72, 133);
}

#fairies{
    --arc_color: rgb(188, 143, 143);
}

#humans{
    --arc_color : rgb(60,78,181);
}

#default{
    --arc_color: rgb(240, 221, 199);
}

#mermaids{
    --arc_color: rgb(127, 255, 212);
}

#dark_minders{
    --arc_color: rgb(178, 211, 194);
}

#lycans{
    --arc_color: rgb(203, 104, 67);
}

#vampires{
    --arc_color: rgb(142,52,49);
}

.content_arc{
    margin: auto;
    width: 95%;
    --border_arc : solid 10px var(--arc_color);
}

.img_arc{
    border-top: var(--border_arc);
    border-bottom: var(--border_arc);
    object-fit: cover;
    background-color: black;
    width: 100%;
    
}

.img_arc_trs{
    margin: 0;
    width: 100%;
    object-fit: contain;
}

.centre_arc{
    margin: 0;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 20% 20%;
    overflow: hidden;
}

.img_map_arc{
    margin-top: 17px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.img_illu_arc{
    background-color: black;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    height: 242px;
    object-fit: cover;
}

.skills_arc{
    margin: 0;
    margin-top: 17px;
    padding-top: 0.7em;
    background-color: var(--arc_color);
    color: #fdf0de;
    grid-column-start: 3;
    grid-column-end:4;
    font-size: 0.9em;
    width: 100%;
    height: 60%;
    text-align: center;
}

#sk_a1{
    grid-row-start: 1;
    grid-row-end: 2;

}

#sk_a2{
    grid-row-start: 2;
    grid-row-end: 3;

}

#sk_a3{
    grid-row-start: 3;
    grid-row-end: 4;

}

.title_arc{
    background-color:var(--arc_color);
    width: auto;
    padding: 1% 20px;
    margin: 0;
    font-size: 0.85em;
    color:#fdf0de;
}

.title_common_S{
    padding: 1% 20px;
    margin: 0;
    font-size: 0.85em;
    border-bottom: solid var(--arc_color);
}

.text_arc{
    border-bottom: var(--border_arc);
    text-align: justify;
}

.padding_arc{
    font-size: 0.9em !important;
    padding: 0 20px;
    margin: 0;
}