.content_arc{
    margin: auto;
    width: 95%;
    color: white;

    --arc_bleu : rgb(62, 157, 236);
    --border_arc : solid 10px var(--arc_bleu) ;
}

.img_arc{
    border-top: var(--border_arc) ;
    border-bottom: var(--border_arc);
    object-fit: cover;
    background-color: black;
    width: 100%;
    
}

.img_arc_trs{
    margin:1em 0;
    width: 100%;
    object-fit: contain;
}

.centre_arc{
    margin: 0;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 20% 20%;
    overflow: hidden;
}

.img_map_arc{
    margin-top: 1em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.img_illu_arc{
    background-color: black;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

.skills_arc{
    color : white;
    margin: 0;
    margin-top: 1em;
    padding-top: 0.8em;
    background-color: var(--arc_bleu);
    grid-column-start: 3;
    grid-column-end:4;
    width: 100%;
    height: 60%;
    text-align: center;
}

#sk_a1{
    grid-row-start: 1;
    grid-row-end: 2;

}

#sk_a2{
    grid-row-start: 2;
    grid-row-end: 3;

}

#sk_a3{
    grid-row-start: 3;
    grid-row-end: 4;

}

.title_arc{
    background-color:var(--arc_bleu);
    width: 45%;
    padding: 0.5em 1em;
    margin: 0;
}

.text_arc{
    background-color: black;
    border-bottom: var(--border_arc);
}

.padding_arc{
    font-size: 14px!important;
    padding: 20px;
    margin: 0;
}